# binaries and db files
/pp
/proxy-penguin*
/proxy-loadgen
/prod
/dev

# sensitive config file
/config.*

# npm modules
/frontend/node_modules/
/frontend/dist/

# background process output
/nohup.out
