@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background: #111;
  color: #eee;
}
/* h-screen flex flex-col bg-white text-black dark:bg-gray-900 dark:text-white */

.status-info {
    color: #2d42a0;
}

.status-success {
    color: #2ea534;
}

.status-redirect {
    color: #9ba540;
}

.status-client {
    color: #ed6c02;
}

.status-server {
    color: #d20f0f;
}
